@charset "UTF-8";
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 147%;
  font-weight: 300;
  color: #2C2B2B;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link {
  margin: 0px 5px;
}

.social__img:hover {
  transition: transform .2s;
  transform: scale(1.1);
}

.header {
  background: url("../images/IMG_3650.JPG") no-repeat top center/cover;
  min-height: 700px;
  color: #fff;

}
.header__top {
  padding: 47px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: contents;
  font-size: 21px;
  font-weight: 300;

}

.nav:hover {
  background-color: #2AA5A0;
  background-image: linear-gradient(45deg, #f32525, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__content {
  padding-top: 60px;
  position: relative;
}
.header__title {
  font-size: 72px;
  font-weight: 400;
  line-height: 148%;
  text-transform: uppercase;
}
.header__subtitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 148%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.header__text {
  max-width: 800px;
  margin-bottom: 30px;
}
.header__images {
  position: absolute;
  right: -63px;
  bottom: -285px;
  width: 82%;
}
.header__social {
  padding: 70px 0px 20px 70px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

.phone {
  font-weight: 400;
  font-size: 25px;
  line-height: 147%;
}

.phone:hover {
  background-color: #2AA5A0;
  background-image: linear-gradient(45deg, #e74b4b, #212020);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 148%;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background: linear-gradient(45deg, #ed4040, #6a6a6a);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  color: #a99d9d;
  background: linear-gradient(45deg, #e74b4b, #212020);
  border: 1px solid #404040;
  border-radius: 10px;
  transition: 0.5s;
}

.logo__img {
  width: 181px;
}

.logo__img:hover {
  transition: transform .2s;
  transform: scale(1.1);
}

/*------------SERVICES--------------*/
.services {
  padding-top: 350px;
}
.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.services__content {
  width: 505px;
  margin-right: 96px;
}
.services__content-title {
  color: #000;
  font-size: 18px;
  line-height: 147%;
  font-weight: 300;
  margin-bottom: 12px;
}
.services__content-textbox {
  margin-bottom: 57px;
}
.services__content-text {
  margin-bottom: 12px;
}
.services__list {
  list-style: none;
  counter-reset: my-counter;
}
.services__item {
  counter-increment: my-counter;
  border: 1px solid #C4C4C4;
  margin-bottom: 12px;
  width: 450px;
  padding: 10px 15px 10px 113px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.services__item::before {
  content: "0" counter(my-counter);
  position: absolute;
  left: 20px;
  color: #C4C4C4;
  font-weight: 400;
  line-height: 147%;
  font-size: 36px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #2AA5A0;
  background-image: linear-gradient(90deg, #E3535D, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services__item:hover {
  border: 1px solid #670000;
  width: 500px;
  background-image: linear-gradient(45deg, #a7000a, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services__item:hover .services__item-title {
  color: #000;
}
.services__item:hover::before {
  color: #000;
}
.services__item-title {
  font-size: 24px;
  font-weight: 300;
}
.services__item-text {
  font-size: 18px;
}

.title {
  position: relative;
  color: #000;
  font-size: 36px;
  line-height: 147%;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

.button--decor {
  margin-top: -7px;
  color: #fff;
  position: relative;
  border: 1px solid #fff;
}
.button--decor::after {
  position: absolute;
  content: "ЖМИ";
  color: #C4C4C4;
  margin-left: 130px;
}
.button--decor::before {
  content: "";
  position: absolute;
  background-color: #C4C4C4;
  width: 80px;
  height: 2px;
  right: -65px;
  top: 24px;
}

/*----------------BENEFITS------------------*/
.benefits {
  margin-bottom: 100px;
}
.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.benefits__image {
  margin-right: 95px;
}
.benefits__content {
  width: 100%;
  color: #fff;
}
.benefits__title {
  margin-left: 185px;
}
.benefits__list {
  background-color: #000;
  padding: 25px 0px 25px 185px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.benefits__list:hover {
  transition: transform 1.5s;
  transform: scale(1.1);

}

.benefits__item {
  width: 320px;
  margin-bottom: 20px;
}
.benefits__item-num {
  font-size: 36px;
  line-height: 147%;
}
.benefits__item-title {
  font-size: 24px;
  line-height: 147%;
}
.benefits__item-text {
  color: #C4C4C4;
}

/*-----------------CAROUSEL----------------*/
.carousel {
  margin-bottom: 100px;
}
.carousel__inner {
  margin: 0px -7px;
}
.carousel__item-box {
  border: 1px solid #C4C4C4;
  padding: 6px 6px 16px 6px;
  margin: 0px 7px;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.carousel__item-box:hover {
  background: linear-gradient(45deg, #6e1f22, #000000);
  color: #fff;
  border-color: #000;
}
.carousel__item-img {
  max-width: 100%;
  margin-bottom: 20px;
}
.carousel__item-title {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 5px;
}
.carousel .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  cursor: pointer;
}
.carousel .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0px 10px;
  width: 50px;
  height: 4px;
  background-color: #C4C4C4;
}
.carousel .slick-dots .slick-active button {
  background-color: #000;
  height: 5px;
}

/*--------------CONTACTS-------------*/
.contacts {
  margin-top: 20px;
}

.contacts__item {
  margin-bottom: 20px;
}
.contacts__item-title {
  color: #000;
}
.contacts__title {
  margin-bottom: 16px;
  margin-left: 53px;
  text-align: left;
  color: #fff;
}
.contacts__title::after {
  background-color: #fff;
}
.contacts__input {
  background-color: transparent;
  width: 450px;
  height: 75px;
  border: 1px solid #000;
  text-align: center;
  margin-bottom: 12px;
  display: block;
  color: #fff;
  font-size: 24px;
  padding: 0px 15px;
  font-weight: 300;
  outline: none;
}
.contacts__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 147%;
  color: #C4C4C4;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.contacts__input::-moz-placeholder {
  font-size: 18px;
  line-height: 147%;
  color: #C4C4C4;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.contacts__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 147%;
  color: #C4C4C4;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.contacts__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 147%;
  color: #C4C4C4;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.contacts__input::placeholder {
  font-size: 18px;
  line-height: 147%;
  color: #C4C4C4;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.contacts__btn {
  color: #fff;
  border: none;
  font-weight: 300;
  margin-top: 78px;
  cursor: pointer;
  border: 1px solid #000;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form {
  background-color: #393939;
  padding: 50px 75px 57px;
  text-align: center;
}

input::-webkit-input-placeholder       {text-indent: 0;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

input:invalid {
  border: #510202 solid 1px;
}

.section-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 2;
  transform: translateY(-44.5%) scale(0);
  transition: 0.4s ease-in-out;
}
.section-modal-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.section-modal-container .modal-body {
  margin: auto;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 100px 15px 110px 15px;
  position: relative;
}
.section-modal-container .modal-body p {
  font-size: 31px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(45deg, #a7000a, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}
.section-modal-container .modal-body input {
  display: block;
  margin: 25px auto 0 auto;
  width: 330px;
  padding: 17px 20px;
  background-color: #E5E5E5;
  border-radius: 10px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #89909F;
}
.section-modal-container .modal-body input:focus {
  outline: none;
}
.section-modal-container .modal-body button {
  width: 150px;
  height: 40px;
  margin-top: 60px;
  border-radius: 10px;
  border: 1px solid #a5a5a5;
  background: linear-gradient(90deg, #E3535D, #282828);
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.section-modal-container .modal-body button:hover {
  background: linear-gradient(45deg, #a7000a, #000000);
}
.section-modal-container .modal-body .modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
  color: gray;
}
.section-modal-container .modal-body .modal-close:hover {
  color: black;
}

.section-modal.active {
  transform: translateY(0%) scale(1);
  background: rgba(0, 0, 0, 0.7);
}

/*------------------FOOTER------------------*/
.footer {
  background-color: #939393;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 300;
}
/*---------------MEDIA--------------*/
@media (max-width: 1140px) {
  .services__item:hover {
    width: 450px;
  }
}
@media (max-width: 1024px) {
  .header__images {
    width: 80%;
  }

  .services {
    padding-top: 250px;
  }

  .services__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__list {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 30px;
    width: 100%;
  }

  .services__item {
    width: 100%;
  }

  .services__item:hover {
    width: 100%;
  }

  .services__content {
    width: 100%;
    margin-right: 0;
  }

  .benefits__image {
    display: none;
  }
}
@media (max-width: 900px) {
  .phone {
    font-size: 24px;
    font-weight: 300;
  }

  .header__content {
    padding-top: 0;
  }

  .header__title {
    font-size: 54px;
  }

  .header__subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .header__text {
    margin-bottom: 15px;
  }

  .header__social {
    padding: 30px 0px 20px 53px;
  }

  .services {
    padding-top: 30px;
  }

  .services__inner,
.benefits .carousel {
    margin-bottom: 50px;
  }

  .title {
    margin-bottom: 30px;
  }

  .contacts__inner {
    display: block;
    text-align: center;
  }

  .contacts__title {
    margin-left: 0px;
    text-align: center;
  }

  .contacts__list {
    margin-bottom: 30px;
  }

  .contacts__input {
    width: 100%;
  }

  .contacts__btn {
    margin-top: 20px;
  }
}
@media (min-width: 650px) {
  .footer__inner {
    height: 100px;
  }
}
@media (max-width: 650px) {
  .footer__inner {
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .logo {
    padding: 0 40px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footer__copy {
    padding: 0 40px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .social {
    padding: 0 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width: 600px) {
  .header__content {
    padding-top: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__social {
    padding: 30px 0px 20px 0px;
  }

  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .logo {
    padding: 0px 40px;
  }

  .header__images {
    position: static;
    width: 80%;
    margin-top: 10px;
  }

  .services {
    text-align: center;
    padding-top: 30px;
  }

  .services__item {
    font-size: 30px;
    padding: 5px 10px 5px 60px;
  }

  .services__item::before {
    left: 10px;
  }

  .title {
    margin-bottom: 30px;
    text-align: center;
  }

  .title::after {
    display: none;
  }

  .benefits__inner {
    text-align: center;
  }

  .benefits__title {
    margin: -20px 0px 20px 0px;
    font-size: 36px;
  }

  .benefits__list {
    padding: 25px 15px;
  }

  .benefits__item {
    width: 100%;
  }

  .carousel__item-img {
    width: 100%;
  }

  .carousel .slick-dots button {
    width: 10px;
  }
}
@media (max-width: 575px) {
  .header__title {
    font-size: 44px;
    margin-bottom: 10px;
  }

  .contact-form {
    padding: 10px;
  }

  .contacts__title {
    font-size: 20px;
    margin-top: 20px;
  }

  .contacts__btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 507px) {
  .footer__inner > * {
    margin-bottom: 15px;
  }
}
@media (max-width: 472px) {
  .header__title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .button--decor::before,
.button--decor::after {
    display: none;
  }
}
@media (max-width: 431px) {
  .header__title {
    font-size: 36px;
    margin-bottom: 10px;
  }
}
@media (max-width: 390px) {
  .header__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
@media (max-width: 349px) {
  .header__top {
    padding: 40px 0px 40px 0px;
  }

  .header__title {
    font-size: 42px;
    margin-bottom: 5px;
  }

  .header__social {
    margin-top: -10px;
  }
}
@media (max-width: 416px) {
  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .logo {
    margin-bottom: 15px;
  }

  .phone {
    margin-top: 10px;
  }

  .header__title {
    margin-top: -20px;
  }
}

@media screen and (max-width: 450px) {
  .phone {
    position: relative;
    top: -26px;
  }
}

@media screen and (max-width: 650px) {
  .header-nav {
    display: none;
  }
}

.contact1 {
  padding: 16px;
  border-bottom: 1px solid;
  font-size: larger;
  line-height: 32px;
  border-top: 1px solid;
  cursor: pointer;
}

.contact2 {
  padding: 20px 0;
  border-bottom: 1px solid;
  cursor: pointer;
}

.contact3 {
  display: flex;
  padding: 0px 20px;
  font-size: 20px;
  /*justify-content: space-around;*/
  padding-left: 113px;
}

.manager:hover {
  font-weight: 600;
  color: red;
  transition: transform .2s;
  transform: scale(1.1);
}


header {
  display: flex;
  justify-content: flex-end;
}
.menu-btn {
  display: none;
  width: 74px;
  height: 44px;
  position: fixed;
  z-index: 2;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .menu-btn {
    display: block;
    background: gray;
    position: fixed;
    width: 50px;
    height: 57px;
    box-shadow: 4px 6px 16px rgba(229, 229, 229, 0.3);
  }
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}
.menu-burg {
  /*background: gray;*/
  width: 237px;
  display: flex;
  justify-content: center;
  /*box-shadow: 4px 6px 16px rgba(229, 229, 229, 0.3);*/
  position:fixed ;
  height: 236px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 28%;
  /*padding: 15px;*/
  background: #a3a3a3;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.menu.active {
  position: fixed;
  transform: translateX(0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 1;
}
.menu li {
  list-style-type: none;
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.burger-a {
  padding: 5px;
}

.car-footer {
  width: 54%;
  margin-right: 0px;
}

@media screen and (max-width: 1616px) {
  #arrowTop {
    margin-left: -67px;
  }
}

@media screen and (max-width: 1484px) {
  #arrowTop {
    display: none;
  }
}

#arrowTop {
  z-index: 10;
  color: #ffffff;
  position: fixed;
  top: 330px;
  left: 150px;
  cursor: pointer;
  height: 55px;
  width: 55px;
  border-radius: 34px;
  background: linear-gradient(45deg, #250475, #c50000);
  opacity: 0;
  animation: ani 1.5s forwards;
  transition: transform .2s;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#arrowTop:hover {
  color: #d6d6d6;
  background: linear-gradient(45deg, #180253, #920303);
  transform: scale(1.1);
  box-shadow: 0px 0px 23px rgba(157, 157, 157, 0.3);
}

.fa-arrow-turn-up {
  font-size: 34px;
  position: relative;
  top: 9px;
  left: 16px;
}

/*-------------------CHOOSE US----------------*/


.choose-us {
  background: url("../images/bmw228 (1).png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 10px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}

.para1 {
  text-align: center;
  font-size: 65px;
  display: inline-block;
  color: #ffffff;
  padding-bottom: 35px;
  cursor: pointer;
}
.para2 {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}
.para3 {
  cursor: pointer;
  padding-top: 20px;
  font-size: 24px;
  color: #ffffff;
}

.choose-list {
  padding: 100px 5px;
  flex-direction: row;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section.choose-us .choose-list .choose-card {
  width: 33%;
  margin-bottom: 0;
  transition: transform 0.3s ease;

}

section.choose-us .choose-list .item {
  padding: 20px 30px;
  position: relative;
  height: 100%;
  min-height: 400px;
}

section.choose-us .choose-list .item .text-item {
  padding: 30px;
  border: 1px solid #666666;
  padding-top: 60px;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

strong {
  position: relative;
  top: -25px;
}

@media screen and (max-width: 830px) {
  .para1 {
    font-size: 50px;
  }

  .choose-us {
    background-repeat: repeat;
  }

  .choose-list {
    padding: 0;
    display: block;
  }

  section.choose-us .choose-list .choose-card {
    width: auto;
    margin-bottom: 0;
    transition: transform 0.3s ease;
  }
}

.text-item {
  cursor: pointer;
}

.text-item:hover {
  transition: transform .2s;
  transform: scale(1.1);
  box-shadow: 4px 6px 16px rgba(157, 157, 157, 0.3);
}

.fa-viber {
  font-size: 24px;
  padding-top: 1px;
}

.fa-viber:hover {
  transition: transform .2s;
  transform: scale(1.1);
}

/*.contacts__info {*/
/*  width: 284px;*/
/*}*/

.contacts__item-title {
  font-weight: 400;
}